	.freeShipping{
		background-image:url('../../images/ic_shipping.png');
		width:18px;
		height:18px;
		background-size:cover;
		background-repeat:no-repeat;
		display:inline-block;
		margin-left:16px;
	}